<a href="#" class="list-group-item list-group-item-action">
  <div class="row item">
    <div class="col-md-2">       <img [src]="item.img_url" class="img-responsive" style="height:50px;" >
    </div>
    <div class="col-md-7">
      <div class="row">
        {{ item.product_name }}
      </div>
      <div class="row">
        <small style="font-style:italic" class="mr-1"> Unit Price: {{ item.price }}, </small>
        <small style="font-style: italic"> Quantity: {{ item.quantity }} </small>
      </div>
    </div>
    <div class="col-md-3">
        <strong>
            {{total_price | currency: "PHP"}}
        </strong> </div>
  </div>

</a>
